@media screen and (min-width: 668px) and (max-width: 1440px ){
    section{
        display: grid;
        grid-template-columns: repeat(2,2fr);
        margin-left: 65px;
    
    }
    div{
        margin-top: 20px;
        width: 467px;
    }

}  