/* @media screen and (min-width: 600px) and (max-width: 1080 ){
    section{
        display: grid;
        grid-template-columns: repeat(2,500px);
        margin-left: 65px;
    
    }
    img{
        max-width: 500px;
    }
    div{
        margin-top: 20px;
        width: 467px;
    }

}   */