@media screen and (max-width: 800px){
    /* *{
        border: .5px solid blue
    } */
    section{
        display: grid;
        text-align: center;
        grid-template-columns: repeat(1,1fr);
    }
    img{
        max-width: 300px;
        justify-self: start;
    }
    div{
        margin-top: 20px;
        width: 300px;
    }

    

}  