@media screen and (max-width: 667px){
    section{
        display: grid;
        text-align: center;
        grid-template-columns: repeat(1,1fr);
        justify-content: center;
        align-items: center;
        margin: 0;
    }
    main{
        margin: 0;
    }
    header{
        margin: 0 auto;
        margin-top: -5px;
    }

    div{
        width: 330px;
        margin: 0;
        transition: .5s ease-in-out;
        margin-top: 30px;
        margin-left: 20px;
    }
    .net img{


    }
    .google img{
    

    }
    img{
        width: 335px;
    }

    

}  