@media screen and (max-width: 800px){

    section{
        display: grid;
        text-align: center;
        grid-template-columns: repeat(1,1fr);
    }

    div{
        margin-top: 20px;
        width: 300px;
        margin-left: -20px;
    }

    

}  