
td{
    border: .1px solid #000;
    margin: 0;
    padding: 10px;
}

tr{
    background: #000;
    color: #fff;
    text-align: center;
}


.type td{
    background: #484646;
}
.dif{
    background: #000 !important;
}

.whi td{
    background: #fff;
    color: #000;
}

.di td{
    background: #eaeaea;
    color: #000;
}



table{
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0;
    margin: 0 auto;
    margin-top: 100px;
    justify-content: center;
}

table td{
    padding: 20px;
}

th{
    justify-self: center;
    border: .1px solid #000;
    padding: 20px;
}
.vai{
    font-size: 1.3em;
    color: #336ce7 !important;
    text-shadow: 2px 2px 5px #000;
}

.x{
    font-size: 1.3em;
    color: #da2b2b !important;
    text-shadow: 1px 0px 2px #000;;
    /* box-shadow: 2 */
}

caption{
    font-size: .5em;
    text-align: center;
}

header{
    text-align: center;
    padding: 15px;
    background: #414142;
    color: white;
    margin: 0;
}

body{
    max-width: 1920px;
    margin: 0 auto;
}

main{
margin: 0 auto;
}

footer{
    margin-top: 100px;
    background: #414142;
    padding: 20px;
    text-align: center;
    color: white;
}