@media screen and (max-width:667px) {
    nav{
        display: none;
    }
    .social{
        /* flex-direction: column; */
        margin: 0;
    }
    #shop{
        margin: 0;
        margin-left: 1em;
    }
    .test{
        display: flex;
        justify-content: space-between;
    }
    nav a{
        text-align: center;
        justify-content: center;
        justify-self: center;
    }
    nav.open{
        display: flex;
        /* width: 100%; */
        margin: 0;
        flex-wrap: wrap;
        justify-content: center;
        justify-self: center;
        
    }

    .relative a{
        font-size: 1em;
        padding: 25px;
    }
    .relative p{
        font-size: 1.4em;
    }


    header{
        display: block;
        /* width: 100%; */
        /* border: 2px; */
        margin: 0;
    }
    /* .test{
        display: block;
    } */

    nav.open a{
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        
    }
    .info{
        margin: 10px;
    }
    #ham{
        display: flex;
        align-self: center;
        text-align: end;
        font-size: 1.5em;
        margin-right: .8em;
    }
    .divider {
       display: flex;
       flex-direction: column;
      
    } 
    .divider .border{
        margin: 10px;
        font-size: 1em;
        margin: 10px;
        padding: 5px;
        width: 100%;
        border: 5px solid #bbb;

    }

    .divider div{
        border: none;
    }
    .weather{
        width: 100%;
    }

    #shop2,.img, .social2{
        display: none;
    }

    .weather .flex{
        margin: 0 ;
        display: flex;
        flex-direction: column;
        position: relative;
        height: 600px;
    }
    .weather .box{
        margin: 0 auto;
        /* width: 50%; */
        position: absolute;
        
    }
    .weather{
        margin: 0 auto;
        width: 100%;
       display: none;
    
    }
    #shop{
        margin-right: 20px;
        color: #316548;
    }

    form{
        left: 8%;
        width: 75%;
    }
    .divider input{
        margin: 0;
    }
    .information{
        left: 7%;
        width: 60%;
    }
    .nutri{
        flex-direction: column;
        justify-content: start;
    }
    .nutri p:nth-child(1){
        /* margin: 0; */
        margin-right: 20px;
        text-align: start;
    }

    .divider{
        flex-direction: row;
    }
 
}