@media screen and (max-width:667px) {
    nav{
        display: none;
    }
    .social{
        /* flex-direction: column; */
        margin: 0;
    }
    #shop{
        margin: 0;
        margin-left: 1em;
    }
    .test{
        display: flex;
        justify-content: space-between;
    }
    nav a{
        text-align: center;
        justify-content: center;
        justify-self: center;
    }
    nav.open{
        display: flex;
        /* width: 100%; */
        margin: 0;
        flex-wrap: wrap;
        justify-content: center;
        justify-self: center;
        
    }

    .relative a{
        font-size: 1em;
        padding: 25px;
    }
    .relative p{
        font-size: 1.4em;
    }


    header{
        display: block;
        /* width: 100%; */

        border: 2px ;
        margin: 0;
        padding: 0;
    }
    /* .test{
        display: block;
    } */

    nav.open a{
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        
    }
    #ham{
        display: flex;
        align-self: center;
        font-size: 1.5em;
        margin-right: 2em;
    }
    .divider {
       display: flex;
       flex-direction: column;
      
    } 
    .divider .border{
        margin: 10px;
        font-size: 1em;
        margin: 10px;
        padding: 5px;
        width: 100%;
        border: 5px solid #bbb;

    }

    .divider div{
        border: none;
    }
    .weather{
        width: 100%;
    }
    .weather .flex{
        
    }
    #shop2,.img, .social2{
        display: none;
    }

    .weather .flex{
        margin: 0 ;
        display: flex;
        flex-direction: column;
        position: relative;
        height: 1100px;
    }
    .weather .box{
        margin: 0 auto;
        
        /* width: 50%; */
        /* position: absolute; */
        
    }
    .weather{
        margin: 100px auto;
        width: 90%;
       /* display: none; */
    
    }

    .fruits{
        /* display: none; */
    }
    .mypic{
        display: none;
        width: 100%;
        opacity: 1;
        transition: .5s ease-in-out;
    }
    .buttons{
        display: flex;
    }
    
    .flex .box{
        margin-top: 10px;
    }
    .fruits{
        position: relative;
        padding: 20px;
        
    }
    .mypic{
        width: 100%;
    }
    .buttons{
        position: absolute;
        top: 45%;
        /* display: flex;
        justify-content: space-around;
        left: 11.5%; */
        width: auto;
       
        
    }
    #btn{
        margin-right: 200px;
    }

    .buttons button{
        background:#4C956C;
        border: none;
        padding: 18px;
        /* margin-right: 100px; */
        color: #fff;
        /* margin-right: 210px; */
        box-shadow: 2px 2px 10px #000;
        border-radius: 20px;
        justify-self: space-between;
        font-size: 1.2em;

      
    }
    #shop{
        margin-right: 10px;
    }
    .hero h1{
        margin: 0;
        font-size: 1.7em;
    }
    .hero p{
        font-size: 1.1em;
    }
    .relative a{
        padding: 20px;
    }
    .mypic img{
        width: 100% !important;
    }
    .mypic{
        max-width: 500 !important;
        width: 100%;
    }
    .mypic img:hover{
        transform: scale(0);
    }
    .fruits{
        position: relative;
    }
}