@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Poppins&family=Vina+Sans&display=swap');


h1{
    text-align: center;
    background-color: black;
    color: rgb(0,255,255);
    padding: 50px;
    margin-top: 0;
    font-family: "Bruno Ace SC","sans-serif","serif";
    text-shadow: 2px 2px 10px rgb(0,255,255);
    font-size: 3em;
}

body{
    justify-content: center;
    width: 1680px;
    margin: 0 auto;
    

}
a{
    font-size: 1.4em;
    text-align: center;
    display: block;
}
main{
    
}
h2{
    font-size: 1.4em;
    text-align: center;
    justify-self: center;
}
video{
    display: block;
   margin: auto;
}

footer{
    margin-top: 80px;
    background: black;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 1.1rem;
}

span{
    color: yellow;
}