/* colors: # 03045E 
0077B6
CAF0F8*/

.myself{
    width: 180px;
    box-shadow: 0px 0px 10px;
    border-radius: 10px;

}
body{
    margin: 0;
    padding: 0;
}
nav{
    background-color:#023047;
    display: flex;
    padding: 20px;
    box-shadow:  0px 0px 10px;
}

nav h1{
    align-self: center;
    justify-self: center;
    color: white;
    margin-left: 100px;
    font-size: 4em;
    font-weight: 900;
    text-shadow: 0px 0px 10px rgba(0,0,0);


}

.container a{
    text-decoration: none;
    transition: .5s ease-in-out;
   
}




.container a:hover{

    text-decoration: underline;
    color: #023047;
    transition: 2s ease-in-out;     

}

main h2{
    font-size: 3em;
    /* text-shadow: 0px 10px 20px black; */
    box-shadow: 2px 2px 10px;
    margin-left: 20px;
    background: #CAF0F8;
    padding: 50px;
    margin: 0;

}

span{
    color: yellow;
}

.container{
    padding-top: 30px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    align-content: center;
    justify-items: center;
    padding-bottom: 30px;   
    box-shadow: 2px 2px 20px rgba(0,0,0);
}

ul{
    /* display: inline-block; */
    margin-left: 20px;
}

.container li, .container{
    font-size: 1.3em;

}

footer{
    padding: 10px;
    background: #023047;
    margin: 0;
    margin-top: 100px;
    text-align: center;
    color: white;
    font-size: 1.3em;
    box-shadow: 20px 0px 20px;
    font-size: 1.5em;
    
}