@media screen and (max-width:667px){
    /* *{
        border: .5px solid blue;
    } */
    h1{
        font-size: 1em;
    }
    body{
       
        margin: 0 auto;
        width: 100%;
    }
    header{
        box-sizing: border-box;
        width: 100%;
    }
    nav{
        box-sizing: border-box;
        /* width: 100%; */
    }
    button{
        color:#000000;
        display: block;
    }
    footer{
        width: 100%;
        box-sizing: border-box;
        display: block;
    }
    header .navigation2 a{
        width: 100%;
        margin: 0;
        
    }
    .navigation{
        display: none;
    }

    .container{
        flex-direction: column;
    }

  
    .fb, .ins{
        width: 25px;
        height: 25px;
    }
    #ham{
        align-self: center;
        background-color: #000000;
        justify-content: center;
        font-size: 2em;
        display: flex;
        height: 50px;
        width: 60px; 
        color: #ffffff;
        border: none;

    }

    header .elements img{
        width: 60px;
        height: 60px;
        margin: 0;
    }
    .navigation2.responsive a{
        display: block;
        box-sizing: border-box;
    }
    .responsive a{
        display: block;
        text-decoration: none;
        color: white;
        font-size: 1em;
        padding: 10px;
        box-shadow: 1px 1px 5px #FFFFFF;
        
    }
    .navigation2.responsive{
        display: block;
        text-decoration: none;
        justify-content: center;
        text-align: center;
        margin-bottom: 10px;
        transition: .5s ease-in-out;
        
    }
    .responsive a:hover{
        background-color: #ffffff;
        color: #000000;
    }
    nav .navigation a{
        margin-right: 0;
        margin-left: 0;
    }
    .test{
        margin-right: 0;
        display: block;
    }
    .container{
        justify-content: center;
        align-items: center;
    }
    .chamber{
        display: block;
        margin-left: 20%;
        justify-content: center;

    }
       
}