body{
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}
header{
    background:  #000000;;
    padding: 15px;
}
nav{
    display: flex;
    justify-content: space-between; 
}

nav a{
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    justify-self: center;
    margin-right: 50px;
    padding: 0;
    margin: 0;
    text-align: center;
    align-self: center;
}
.images{
    align-self: center;
}
.fb, .ins{
    align-self: center;
    height: 35px;
    width: 35px;
    margin: 10px;
    border-radius: 50%;
    cursor: pointer;
}

header img{
    border-radius: 50%;
    width: 90px;
    height: 90px;
    transition: .5s ease-in-out;
    margin-top: 5px;
    margin-right: 200px;  
    margin-left: 100px;
}

header img:hover{
    box-shadow: 2px 0px 10px #FFC300;
    transform: scale(1.1);

}

footer{
    margin-top: 550px;
    padding: 25px;
    background:  #000000;
    color: white;
    text-align: center;
    
}

footer .container{
    display: flex;
    justify-content: center;

}

footer .chamber img, footer .chamber a{
    margin: 0;
}

.chamber{
 
    margin-right: 100px;
    display: flex;
    justify-content: space-around;
}

span{
    color: #FFC300;
}

.test{
    display: flex;
    flex-direction: column;
}

#datetime{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    color: #ffffff;
    font-size: 1.4rem;
    background-color: #262525;
    box-shadow: 1px 1px 5px #ffffff;
    padding: 2px;
}

footer .location a{
    text-decoration: none;
    color: #ffffff;

}

footer .chamber div{
    align-self: center;
    justify-self: end;
    margin-left: 20px;
}

footer .chamber img{
    width: 100px;
    height: 100px;
    
}
