
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=EB+Garamond&family=Playfair+Display+SC&family=Poppins&family=Roboto&display=swap');


nav .elements h1, nav .elements p{
    text-shadow: 2px 2px 10px #FFC300;
    font-family: "Playfair Display SC", sans-serif;
}
body{
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    
}
.elements{
    display: flex;
    justify-content: space-around;
    align-content: center;
    margin-bottom: 5px;
}
header h1, header p{
    color: #ffffff;
    margin: 10px;
}

header{
    box-sizing: border-box;
    margin: 0;
    background:  #000000;;
    padding: 15px;
    width: 100%
}
nav{
    display: flex;
    justify-content: space-around;
}
.navigation{
    display: flex;
}

nav .navigation a{
    position: relative;
    color:#ffffff;
    text-decoration: none;
    font-size: 1.5em;
    text-decoration: none;
    font-size: 1.5rem;
    justify-self: center;
    padding: 0;
    text-align: center;
    align-self: center;
    margin-right: 50px;

}

nav a::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0%;
    top: 100%;
    background: #ffffff;
    box-shadow: 3px 3px 10px #FFC300;
    border-radius: 5px;
    transform-origin: right; 
    transform: scaleX(0);
    transition: transform .6s;
}
nav a:hover::after{
    transform-origin: left;
    transform: scale(1);
}

#datetime{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    color: #ffffff;
    font-size: 1.4rem;
    background: linear-gradient(to right  , #000000 30% ,#14213D   90%);
    box-shadow: 1px 1px 5px #FFC300;
    padding: 2px;
}

#banner{
    text-align: center;
    font-size: 1.2em;
    display: none;
}

.fb, .ins{
    align-self: center;
    height: 35px;
    width: 35px;
    margin: 10px;
    border-radius: 50%;
    cursor: pointer;
}

main .hero{
    position: relative;
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
    /* display: flex; */
    box-shadow: 2px 2px 5px;
    height: 40rem;
    /* z-index: -10 !important; */

    overflow: hidden;
    
    
}


body{
    
}

.im2{
    transform: translateX(100%);

}

.im3{
    transform: translateX(200%);
    

}



main .hero img{
    position: absolute;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    
    transition: opacity 1s ease-in-out;
}
/* @keyframes funciona{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(0);
    }
    30%{
        transform: translateX(-100%);
    }
    50%{
        transform: translateX(-100%);
    }
    55%{
        transform: translateX(-200%);
    }
    75%{
        transform: translateX(-200%);
    }
    80%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(0);
    }

} */


main .hero .button{
    cursor: pointer;
    position: absolute;
    bottom: 5%;
    z-index: 5;
    left: 39%;
    padding: 1.5em;
    background:#FFFFFF;
    /* background: linear-gradient(to right, #000000 30% ,#14213D   90%); */
    color: #14213D;
    text-shadow: 0px 0px 2px #000000;
    
    text-decoration: none;
    border: none;
    box-shadow: 2px 2px 10px #14213D;
    border-radius: 20px;
    font-weight: 800;
    transition: .5s ease-in-out;
    /* border: 2px solid transparent; */
}

main .hero .button:hover{
    margin: 0;
    transform: scale(1.1);
    /* background: linear-gradient(to left, #000000 30% ,#14213D   90%); */
    /* box-shadow: 1px 1px 15px #ffffff; */
    /* border: 2px solid #ffffff; */
    font-weight: 800;
    background: #FFC300;
    box-shadow: 1px 1px 5px #ffffff;
    transition: .5s ease-out;
}

main .hero h1{
    margin: 0;
    text-shadow: 1px 1px 3px #000000;
    text-align: center;
    position: absolute;
    bottom: 20%;
    left: 0;
    width: 100%;
    padding: 20px;
    z-index: 2;
    color: #ffffff;
    box-shadow: 1px 1px 50px #ffffff;
    border-top: 3px solid #ffffff;
    border-bottom: 3px solid #ffffff;
    font-size: 1.9em;
    font-weight: 900;
    font-family: "Playfair Display SC", sans-serif; ;
    /* background-color: rgba(0,0,0,0.6);*/
    
}



header img{
    border-radius: 50%;
    width: 90px;
    height: 90px;
    transition: .5s ease-in-out;
    margin-right: 10px;  
    margin-left: 50px;
}

header img:hover{
    box-shadow: 2px 0px 10px #FFC300;
    transform: scale(1.1);

}
.flex{
    display: flex;
    justify-content: center;
}

main .join{
    margin: 0;
    overflow: hidden;

}

.placeholder{
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.aside{
    grid-column: 4/5;
    grid-row: 1/3;
    margin: 15px;
    border: 1px solid #14213D;
  
    

}
.nrsmall{
    display: none;
}

.aside{
    display: grid;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.mid{
    grid-column: 2/4;
    grid-row: 1/4;
    overflow: hidden;
}

.events{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    margin: 15px;
}

main .events div{
    margin-bottom: 8px;

}

main .events .weather{
    background: #000000;
    margin-top: 10px;
    color: white;
}




footer{
    padding: 25px;
    background:  #000000;
    color: #ffffff;
    text-align: center;
    
}

footer .container{
    display: flex;
    justify-content: center;

}

footer .chamber img, footer .chamber a{
    margin: 0;
}

.chamber{
 
    margin-right: 100px;
    display: flex;
    justify-content: space-around;
}

span{
    color: #FFC300;
}

.test{
    display: flex;
    flex-direction: column;
    margin-right: 100px;
    margin-bottom: 10px;
}


footer .location a{
    text-decoration: none;
    color: #ffffff;

}

footer .chamber div{
    align-self: center;
    justify-self: end;
    margin-left: 20px;
}

footer .chamber img{
    width: 100px;
    height: 100px;
    
}

li{
    color: #ffffff;
    text-decoration: none;
}

#ham{
    align-self: center;
    display: none;
    transition: .5s ease-in-out;
    align-content: center;
}

.navigation2{
    display: none;
    transition: .5s ease-in-out;
    width: 100%;
}
footer a{
    cursor: pointer;
}

footer a:hover{
    text-decoration: underline;
}

footer p{
    font-family: 'Times New Roman', Times, serif;
}

main .aa{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0 !important;
    padding: 20px !important;
    background: linear-gradient(to bottom  , #000000 30% ,#14213D   90%);
    box-shadow: 1px 1px 10px;

}

main .aa p{
    text-align: center;
    color: #ffffff;
    font-size: 1.3rem;
    margin-top:60px;
    padding-bottom: 50px;
}


main .aa .change{
    font-weight: 800;
    cursor: pointer;
    background-color: transparent;
    color: #ffffff;
    /* position: relative; */
    top:10%;
    left: 25%;
    border: 3px solid #FFC300;
    text-align: center;
    padding: 1rem;
    /* width: 100%; */
    border-radius: 20px;
    font-size: 1em;
    transition: .5s ease-in-out;
    text-decoration: none;
    /* padding: 30px;
    margin-bottom: 600px; */

}

main .aa .change:hover{
    color: #14213D;
    background-color: #FFC300;
    text-shadow: 2px 2px 10px #ffffff;
    box-shadow: 1px 1px 10px #ffffff;
    transform: scale(1.1);
}

main .events .event{
    margin: 0;
    padding:0;
    overflow: hidden;
    padding: 10px;
    box-shadow: 1px 1px 10px;
    text-align: center;
    background: linear-gradient(to top  , #000000 30% ,#14213D   90%);
}

main .events .event h2{
    margin: 0;
    margin-top: 10px;
    font-size: 1.5em;
    color: #ffffff;
    text-shadow: 1px 1px 2px #000000;
}
main .events .event h3{
    font-size: 1.2em;
    color: #FFC300;
}
main .events .event p{
    color: #ffffff;
}
main .events a{
    color: #FFC300;
    margin-bottom: 5px;
}

main .aside .sp1{
    position: relative;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background: #FFC300;
    margin-bottom: 10px;
}
main .aside .sp2{
    position: relative;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background: #FFC300;
    background: rgba(49, 48, 48, 0.7);
   
}
main .aside .sp3{
    background: #FFC300;
    margin-top: 10px;
    position: relative;
    overflow: hidden;
    background: rgba(49, 48, 48, 0.7);
}


main .aside .sp1 .sp1p{
    position: absolute;
    background: rgba(49, 48, 48, 0.7);
    display: flex;
    flex-direction: column;
    color: #ffffff;
    font-size: 1em;
    width: 100%;
    left: 0%;
    top: 73%;
    /* padding-bottom: 80px; */
    text-align: center;
    z-index: 5;
    margin: 0;
    padding-bottom: 50px;
}
.aside h3{
    margin: 0 !important;
    margin-bottom: 100px;
    margin-top: 20px !important;
}
main .aside .sp1 .sp1p2{
    text-decoration: underline;
    position: absolute;
    color: #ffffff;
    font-size: 1em;
    width: 100%;
    left: 0%;
    top: 90%;
    text-align: center;
    z-index: 5;
}

main .aside .sp1p{
    display: flex;
    position: absolute;
    top: 100%;
    left: 50%;
    background: rgba(0,0,0,0.7);
    z-index: 20;
    border-top: 5px solid #ffffff;

}
main .aside .sp1 img{
    position: absolute;
    height: 100%;
    margin: 0 !important;
    width: 100%;
    z-index: 5;
    object-fit: cover;
    
}
main .aside .sp2 img{
    position: absolute;
    height: 100%;
    margin: 0 !important;
    width: 100%;
    z-index: 5;
    object-fit: cover;

}

main .aside .sp3 img{
    position: absolute;
    height: 100%;
    margin: 0 !important;
    width: 100%;
    z-index: 5;
    object-fit: cover;

}
main .aside .sp2p{
  border-top: 5px solid #4688e5;
}

main .aside .sp3p p, main .aside .sp2p p {
    font-size: .9em;
}
main .aside .sp2 .sp2p{
    position: absolute;
    background: rgba(49, 48, 48, 0.7);
    color: #ffffff;
    width: 100%;
    left: 0%;
    top: 75%;
    /* padding-bottom: 100px; */
    text-align: center;
    z-index: 5;
    padding-bottom: 50px;

}
main .aside .sp2 .sp2p2{
    text-decoration: underline;
    position: absolute;
    color: #ffffff;
    width: 100%;
    left: 0%;
    top: 85%;
    text-align: center;
    z-index: 5
}

main .aside .sp3 .sp3p{
    position: absolute;
    background: rgba(0,0,0,0.7);
    color: #ffffff;
    width: 100%;
    left: 0%;
    top: 75%;
    padding-bottom: 100px;
    text-align: center;
    z-index: 5;

    border-top: 5px solid #1f7b25 !important;
    
   
    


}


main .aside .sp3 .sp3p2{
    text-decoration: underline;
    position: absolute;
    color: #ffffff;
    width: 100%;
    left: 0%;
    top: 85%;
    text-align: center;
    z-index: 5

}

main .aside div{
    position: relative;
    width: 100%;
    /* background: #FFC300; */
}

main .aside{
    box-shadow: 1px 1px 6px #000000;
    background: #000000;
    padding: 20px;
    background:  linear-gradient(to bottom  , #14213D 30% ,#FFC300 40%, #14213D 80%);
}



main .aside img{
    margin-top: 0;
    width: 100%;
    z-index: -1;
    object-fit: cover;

}



main .aside .sp2{
    margin: 0 !important;
    width: 100%;
    z-index: 2;
    object-fit: cover;

}

main .aside .sp1 p{
    /* color: #ffffff; */
    font-size: 0.8em;

}

main .mid .newrelase{
    height: 100%;
    margin: 0;
    margin-top: 10px;
    /* padding-bottom: 100px; */
    padding: 20px;    
    background: linear-gradient(to bottom  , #000000 15% ,#14213D   30%);;
}


main .mid .newrelase h2{
    color: #FFC300;
    text-align: center;
    font-size: 1.5em;
    margin: 0;
    margin-bottom: 20px;
}

main .mid .newrelase p{
    color: white;
    padding: 0px;
    margin: 0;
    font-size: 1.1em;
}

.slide.active {
    display: block;
  }

main .weather img{
    margin: 0;
    padding: 0;
    object-fit: cover;
    
}

.non::after{
    box-shadow: none;
    text-shadow: none;
    background: none;
}

.weather figure{
    justify-content: center;

}

figcaption{
    display: block;
    text-align: center;
    border: 2px solid #ffffff;
    box-shadow: 0px 2px 5px #FFC300;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 50px;
    margin: 20px;
}

.images{
    align-self: center;
}

.weather img{

}
.weather h2{
    text-align: center;
    text-shadow: 2px 2px 5px #FFC300;
}
.weather p{
    text-align: center;
}

.weather img{
    /* position: relative; */
    left: 40%;
    margin: 0;
    width: 80px !important;
    height: 80px !important;
    background: #ffffff;
    border-radius: 20px;
    margin-left: 50px;
    border: 2px solid #14213D;
    box-shadow: 0px 0px 3px #FFC300, 0px 2px 4px #ffffff;
    
}

figure{

}

figure img{
    display: block;
    margin: 0 auto;
    
}
.divider{
    /* border-bottom: 2px solid #ffffff; */
    margin-left: 20px;
    margin: 20px;  
}

main{
    /* background: linear-gradient(to top, #ffffff 10% , #302f2f 50% ,#ffffff 100%); */
}

#iconTemp{
    display: block;
    margin: 0 auto;
}

footer p a{
    color: #FFC300;
}



