@media screen and (min-width: 35rem) {
    nav button{
        display: none;

    }
    nav ul{
        display: flex;
        justify-content: center;
    }
    nav ul li a{
        border: none;
    }


}