/* colors: # 03045E 
0077B6
CAF0F8*/

.myself{
    width: 180px;
    box-shadow: 0px 0px 10px;
    border-radius: 10px;

}
body{
    margin: 0;
    padding: 0;
}
nav{
    background-color:#0077B6;
    display: flex;
    padding: 20px;
    box-shadow:  0px 0px 10px;
}

nav h2{
    align-self: center;
    justify-self: center;
    color: white;
    margin-left: 100px;
    font-size: 2em;
    font-weight: 900;
    text-shadow: 0px 0px 10px rgba(0,0,0);

}

