@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Poppins&family=Raleway:wght@500&family=Vina+Sans&display=swap');
body{
    max-width: 1920px;
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    
}
nav{
    margin-top: o;
    display: flex;
    justify-content: space-around;
    background-color:black;
    padding: 35px;
    transition: 0.5s ease-in-out;
}

nav a{
    position: relative;
    color:white;
    text-decoration: none;
    font-size: 1.5em;
    /* transition: 0.5s ease-in-out; */
}
nav a::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0%;
    top: 100%;
    background: white;
    border-radius: 5px;
    transform-origin: right; 
    transform: scaleX(0);
    transition: transform .5s;
}
/* *{
    border: solid 1px blue;
} */
nav a:hover::after{
    transform-origin: left;
    transform: scale(1);
}

h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif
}
table{
    margin: 0 auto;
    text-align: center;
    box-shadow: 1px 1px 5px;
}
table th{
    padding: 20px;
    background: #303030;
    color: white;
    
}
table td{
    padding: 10px;
}

.primery{
    background-color: #000000;
    color: white;
}
.secundary{
    background-color: #14213D;
    color: white;
}
.accent1{
    background: #FFC300;
    color: white;
}


h2{
    text-align: center;
    
}
h3{
    text-align: center;
}

p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2em;
}
.typo{
    margin-top: 10px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.colored{
    background: #0F192E;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    padding: 20px;

   
}
.p{
    font-family: 'Times New Roman', Times, serif;
    padding: 20px;
    box-shadow: 1px 1px 10px;
}

footer{
    
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #000000;
    color: white;
}

span{
    color: #FFC300;
}

nav a{
    font-size: 1.5em;
}
footer p{
    font-size: 1.1em;
}
