@media screen and (max-width: 667px){
    body{
        margin: 0 auto;
        width: auto;
        margin: 0;
    }
    nav{
        display: block;
        margin: 0;   
        width: auto;     
    }
    nav a{
        width: 100%;
        box-shadow: 1px 1px 5px white;
        display: block;
        padding: 20px;
        flex-direction: row;
        font-size: 1em;
        margin: 0;
        margin-left: -21px;
        margin-bottom: -6px;
    }
    img{
        width: 150px;
        height: 150px;
    }
    .logo h1{
        font-size: 1em;
        margin-left: 10px;
        display: flex;
    }

    p{  
        margin: 15px;
        margin-left: 30px;
        text-align: center;
        font-size: 1em;
        padding: 5px;
    }
    .personas{
        display: block;
    }
    .personas p{
        font-size: 1.3em;
        margin-left: -15px;
    }
    li{
        margin-left: -30px;
        font-size: 1.1em;
    }    
    footer{
        margin: 0;
        width: auto;
    }

    footer p{
        text-align: center;
    }


}