header{
    text-align: center;
    padding: 20px;
    background: #203351;
    color: white;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cards p{
    font: 1.5em;
    color: white;
}

.cards section{
    background: linear-gradient(to bottom, #141414 85% , #ffffff 150% );
    margin: 20px;
    width: 340px;
    box-shadow: 2px 2px 10px;
    text-align: center;
}

main{
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}

footer{
    background: #203351;
    color: white;
    padding: 20px;
    text-align: center;
}


@media screen and (max-width: 667px) {
    .cards{
        display: inline;
    }

    
}

@media screen and (max-width: 1200px) {
    .cards{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      

    }

    section{
        width: 200px;
        
    }
    
}