@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');
main{
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}
body{
    margin: 0;
}
header{
    position: sticky;
    background: #fff;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    /* width: 100%; */
    margin: 0;
    z-index: 5;
    top: 0;
    /* padding: 10px; */
    height: 100%;
}

header picture img{
    width: 80px;
    height: 70px;
    margin: 0;
    padding: 0;
    margin: 10px;
    box-shadow: 2px 2px 5px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    align-self: center;
    /* width: 100%; */
    height: 100%;
    margin: 0;
    padding: 0;

}

nav a{
    height: 100%;
    width: 100px;
    margin-right: 20px;
    font-size: 1.3em;
    color: #000;
    /* padding: 30px; */
    margin: 0;
    text-align: center;
    padding: 20px;
    /* flex-wrap: wrap; */
    
}

.test{
    display: flex;
    justify-content: space-between;
}


#ham{
    display: none;
}

nav a:hover{
    background: #e9e9e6;
}
header a{
    text-decoration: none;
    /* display: flex;
    justify-content: space-between;
    padding: 20px; */
}

.active{
    background: #e9e9e6;
}
.social{
    display: flex;
    margin-right: 200px;
    color: #316548 !important;
    align-self: center;
    justify-self: flex-end;
}
.social a{
    text-decoration: none;
    color: #316548;
    font-size: 1.4em;
    margin-right: 20px;
}
.social a:hover{
    color: #b6a810;
    transform: scale(1.1);
}

.social2{
    display: flex;
    margin-right: 200px;
    color: #316548 !important;
    align-self: center;
    justify-self: flex-end;
}
.social2 a{
    text-decoration: none;
    color: #316548;
    font-size: 1.4em;
    margin-right: 20px;
}
.social2 a:hover{
    color: #b6a810;
    transform: scale(1.1);
}

#shop2{
    color: #316548;
    align-self: center;
    margin-right: 50px;
    font-size: 1.2em;
}


#shop2:hover{
    cursor: pointer;
    color: #b6a810;
    transform: scale(1.1);
}
.hero{
    position: relative;
    max-width: 1920px;
}
.hero img{
    object-fit: cover;
    width: 100%;
}

.test{
    display: none;
}

h2{
    margin-top: 200px;
    text-align: center;
    font-family: "Kalam";
    font-size: 3em;
}

.info{
    border: 5px solid #316548;
    margin: 200px;
    padding: 20px;
}

.info h1{
    font-family: "kalam";
    text-align: center;
}

.info p{
    font-size: 1.5em;
}


.owners{
    position: relative;
    margin-top: 20px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* margin-top: 200px; */
    width: 100%;
}


.picture:hover img{
    filter: grayscale(0%);
    transition: .3s ease-in-out;
    
}
  
.picture:hover .middle {
    opacity: 1;
    width: 390px;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    width: 13%;
    height: 100px;
    transform: translate(5.3%,-135%);
    text-align: center;
    background: rgba(0, 0, 0, 0.8);
    box-shadow: 3px 5px #316548;
    color: white;
    overflow: hidden;
    left: 0%;
}

.middle h5{
    font-size: 1.2em;
    margin: 10px;
}
.picture{
    overflow: hidden;
    position: relative;
}

.location
{
    display: flex;
    justify-self: center;
    flex-direction: column;
    padding: 40px;
    border: 5px solid #316548;
    margin: 20px;
    margin-bottom: 100px;
}

.location h1{
    font-family: "kalam";
text-align: center;}

.location iframe{
    justify-self: center;
    width: 100%;
    
}

  

.owners img{
    filter: grayscale(100%);
    object-fit: cover;
    margin: 20px;
   max-width: 400px;
   max-height: 400px;
}
footer{
    color: #fff;
    padding: 20px;
    text-align: center;
    background: #316548;
}
footer span{
    color: #b6a810;
}

footer a{
    color: #b6a810;
}